<div class="cards-container">
    <!-- Card 1 -->
    <div class="card big-card" [@slideIn]="cardState[0]" (mouseenter)="hovered(1)" (mouseleave)="hovered(0)">
      <img src="https://img.freepik.com/free-vector/flat-hand-drawn-time-management-illustration_23-2148828675.jpg" alt="Image 1" class="card-img">
      <div class="card-body">
        <h5 class="card-title">Task Management (CRUD)</h5>
        <p class="card-text">Effortlessly add, edit, or delete tasks with customizable priorities, progress tracking, and deadlines. Stay in control of your tasks with a simple, intuitive interface..</p>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card big-card" [@slideIn]="cardState[1]" (mouseenter)="hovered(2)" (mouseleave)="hovered(0)">
      <img src="https://media.istockphoto.com/id/1284636498/vector/deadline-work-productivity-time-management-in-business-process-concept-busy-businessman-and.jpg?s=612x612&w=0&k=20&c=SdhitVg5Of7ZMgq2YZvxp3BzL2cOlHvD9CYTWnygCvk=" alt="Image 2" class="card-img">
      <div class="card-body">
        <h5 class="card-title">Priority & Deadline Management</h5>
        <p class="card-text">Set task priorities and deadlines to stay on track. Get timely reminders and manage your schedule efficiently to ensure you meet your goals.</p>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card big-card" [@slideIn]="cardState[2]" (mouseenter)="hovered(3)" (mouseleave)="hovered(0)">
      <img src="https://media.istockphoto.com/id/1221578901/vector/2fa-authentication-password-secure-notice-login-verification-or-sms-with-push-code-message.jpg?s=612x612&w=0&k=20&c=zganV8pxvPCp2aNZG6uDHL_qStrXerKneEcWRFxkVQA=" alt="Image 3" class="card-img">
      <div class="card-body">
        <h5 class="card-title">User Authentication & Security</h5>
        <p class="card-text">Protect your data with secure user authentication. Access your tasks with confidence, knowing your information is safe and only accessible by you.</p>
      </div>
    </div>
  </div>
  