<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <div class="container-fluid">
      <!-- Left side: Railway Brand -->
      <a class="navbar-brand" href="#">Railway</a>
  
      <!-- Right side: Navigation Links -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="40px" height="40px" alt="User Photo" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
  